name: No submodule update checker

on:
  pull_request:
    paths:
      - 'RobustToolbox'

jobs:
  this_aint_right:
    name: Moduły nie powinny być aktualizowane w PR
    runs-on: ubuntu-latest
    steps:
      - name: Fail
        run: exit 1
